.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  background-color: #4b4b52;
  align-items: flex-start;
}

.JeuHomePage {
  height: 100%;
  width: 75%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #24252a;
  border-radius: 8px;
  height: 100%;
  width: 25%;
}

h1 {
  color: white;
}

.BarreRepHisto {
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: space-around;
}
.partieGauche {
  width: 60%;
}
