.StartGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 120px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  text-decoration: none;
}

.StartGameTitle {
  font-size: 30px;
  font-weight: bold;
}

.StartGameSubtitle {
  font-size: 10px;
  font-weight: bold;
}

.StartGameInput {
  border: none;
  border-radius: 0;
  font-size: 1.1em;
  color: white;
  background-color: #4b4b52;
  width: 100%;
  text-align: center;
}
