.contactBig {
  background-color: #4b4b52 !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contactUser {
  background-color: white;
  padding: 10px;
  width: 30%;
  margin: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.contactImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 1px solid black;
  background-url: url("https://www.w3schools.com/howto/img_avatar.png");
  object-fit: cover;
}
