.goodAnswer[popup="1"] {
  animation: popup 1s ease-in-out;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.time-remaining-container {
  width: 200px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.time-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 1s linear; /* Adjust transition duration as needed */
}

.time-text {
  text-align: center;
  padding: 5px;
}

/* select timer child :  */
.timer > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
