.StartGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 120px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
  text-decoration: none;
}

.StartGameTitle {
  font-size: 30px;
  font-weight: bold;
}

.StartGameSubtitle {
  font-size: 12px;
  font-weight: bold;
}

.StartGameInput {
  border: white 1px solid;
  border-radius: 500px;
  font-size: 0.9em;
  color: white;
  background-color: #4b4b52;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.StartGameError {
  color: red;
  font-size: 16px;
  font-weight: bold;
}
