@import url('https:fonts.googleapis.com/css?family=Montserrat:500');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
  background-color: #24252A;
}

li, a, button{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo{
  cursor: pointer;
  width: 4em;
  height: 4em;
}

.liens_nav{
  list-style: none;
}

.liens_nav li{
  display: inline-block;
  padding: 0px 20px;
}

.liens_nav li a {
  transition: all 0.3s ease 0s;
}

.liens_nav li a:hover{
  color: #0088a9;
}

button{
  padding:9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0,136,169,0.8);
}

.JoinForm{
  text-align: center;
}

.Presentation{
  text-align: center;
  color:rgba(0,136,169,1);

}

.Presentation2{
  text-align: center;
  color:rgba(0,136,169,1);
}